body {
    background-color:rgb(70, 70, 70);
    text-align:center;
    margin: 5%;
    margin-top: 0px;
    font-size: 20px;
    font-variant:small-caps;
    margin-bottom: 0px;
    }

div {
    background-color:rgb(100, 100, 100);
    padding: 5px;
    padding-bottom:15px;
    margin:1%;
    margin-bottom: 3%;
    border-radius:10px
    }

nav {
    padding-bottom: 10px;
    }
    
footer {
    margin-top: 5%;
    font-size: 80%;
}

a {
    color:rgb(200, 200, 200);
    font-weight:900;
    text-decoration: underline solid rgb(200, 200, 200);
    }

a:hover {
    text-decoration: underline solid rgb(80, 80, 80);
    }
    
a.button {
    display: inline-block;
    border-radius: 5px;
    border:1px solid rgb(50, 50, 50);
    padding:5px 25%;
    margin:3px;
    background-color:rgb(150, 150, 150);
    }
    
img {
    width: 50%;
    margin: 0px;
}

iframe {
    width: 1920px;
    height: 1080px;
}

code {
    font-family:consolas, georgia, 'times new roman', serif;
    margin-left:8%;
    margin-right:8%;
    }
    
p {
    font-family:georgia, 'times new roman', serif;
    margin-left:8%;
    margin-right:8%;
    }

h1 {
    text-decoration:None;
    letter-spacing: 0px;
    font-family:impact, sans-serif;
    color:rgb(200, 200, 200);
    text-shadow:2px 3px rgb(100, 100, 100);
    }
    
h2 {
    font-family:sans-serif;
    }

h3 {
    font-family:sans-serif;
    }

h4 {
    font-family:sans-serif;
    }
    
@media only screen and (max-width: 2560px) {
    iframe {
        width: 1280;
        height: 720;
    }
}

@media only screen and (max-width: 1920px) {
    iframe {
        width: 854;
        height: 480;
    }
}

@media only screen and (max-width: 1000px) {
    iframe {
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 2%;
    }
    img {
        width: 80%;
        margin: 1px;
    }
    iframe {
        width: auto;
        height: auto;
    }
}

}

